# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "93315320a1439f336ef6a1d9246a4662"
name = "shopify-app-boilerplate"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

[[webhooks.subscriptions]]
  uri = "/api/shopify/webhooks"
  topics = ["products/update"]

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
